<mat-toolbar color="primary">MAPSCorps</mat-toolbar>
<h1>Iniciar Sesión</h1>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Usuario">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="contraseña">
  </mat-form-field>
  <button mat-button>Login</button>
</form>

